.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


// for top-menu
.top-menu-wrapper{
  display: inline-block;
}
.top-menu{
  overflow-x: auto; // overflowx 속성은 x 축, 즉 왼쪽과 오른쪽의 내용이 더 길 때(가로),
  overflow-y: hidden; // overflowy 속성은 y 축, 즉 위와 아래의 내용이 더 길때 (세로) 어떻게 보일지 선택하는 속성
  white-space: nowrap; // whitespace 는 스페이스와 탭, 줄바꿈, 자동줄바꿈을 어떻게 처리할지 정하는 속성, nowrap :병합
}
// for top-menu
.top-menu.nav-btn{
  border: none;
  display: inline-flex; // Flex 는 요소의 크기가 불분명하거나 동적인 경우에도, 각 요소를 정렬할 수 있는 효율적인 방법을 제공, Inline 특성의 Flex Container 를 정의
  width: 6rem; // inlineflex : Inline(Inline Block) 요소와 같은 성향(수평 쌓임)
  margin-left: -1px;
}

.nav-btn-bar {
  height: 3rem;
}

.post-date {
  display: flex;
  justify-content: space-between;
  margin-top: -0.6rem;
  height: 2rem;
  margin-bottom: 2rem;
  color: var(--gray);
}

// 게시물 안에 링크 스타일
.markdown-body > p > a{
  font-weight: bold !important;
  color: rgb(46, 125, 218) !important;
}

.markdown-body > li > p > a{
  font-weight: bold !important;
  color: rgb(46, 125, 218) !important;
}

.markdown-body > blockquote > p > a{
  font-weight: bold !important;
  color: rgb(46, 125, 218) !important;
}

// 컨텐츠 아바타
.content .avatar {
  float: right;
  box-sizing: content-box;
  border: 0;
  transition: border-color 1s ease;
  margin-top: -1.5rem;
  margin-right: -1rem;
}

// 링크 밑줄
.content a:not(.btn):not(.no-hover) {
  text-decoration-color: rgb(255, 255, 255);    // rgba(79,177,186,0.5)
}

.hy-push-state > p > a {
  color: rgb(46, 125, 218) !important;
}

// 메뉴
.spread-btn{
  right: 15%;
  position: absolute;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.menu-wrapper {
  text-align: left;
  margin-left: 30%;
}
.submenu.menu-wrapper{
  right: 10%;
  position: absolute;
  background-color: rgba(167, 162, 247, 0.904);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(245, 244, 244);
  width: 10rem;
  z-index: 2;
  ul{
    margin: 0;
    padding: 0 1.25rem;
  }
}
.submenu.menu-wrapper.hide{
  display: none;
}